node_modules/
bower_components/
.idea
.DS_Store
.env
bin
!lib/
lib/*spec.*
*.js
!cloudinary.js
# utils folder has js sources.
# Until all CoffeeScript is replace, we treat this as a special case.
!src/utils/*.js
*.map
